.character-name-container {
  display: flex;
  align-items: center;
  grid-area: character-name;
}

.character-name {
  position: relative;
  font-size: 30px;
}
.character-name h2:after {
  content: "";
  width: 87px;
  height: 6px;
  background-color: #f7391c;
  display: inline-flex;
  position: absolute;
  left: calc(100% + 5px);
  top: 50%;
}

@media (max-width: 1024px) {
  .character-name {
    text-align: center;
  }
  .character-name h2:after {
    left: 0;
    top: calc(100% - 20px);
  }
  .character-name-container {
    margin-top: 1em;
    justify-content: center;
  }
}
